[user]
	name = Christian Camacho
	email = christiancamacho@drata.com
	signingkey = ~/.ssh/id_ed25519.pub
[gpg]
	format = ssh
[commit]
	gpgsign = true
[init]
  defailtBranch = main
[alias]
  lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
  lg = lg1
  difns = diff --name-status
  cb = rev-parse --abbrev-ref HEAD
  lastcommit = "!f() { ref=${1:-HEAD}; git log --oneline -n 1 $ref | cat | awk '{print $1}'; }; f"
  lc = lastcommit

	push-please = push --force-with-lease
	pp = push --force-with-lease
	ignore = "!gi() { curl -sL https://www.toptal.com/developers/gitignore/api/$@ ;}; gi"
  fileage = "!f() { git_repo=${2:-$(pwd)}; cd ~/.dotfiles/scripts/; pipenv run python git_fileage.py \"$1\" --repo-path \"$git_repo\"; }; f"
[core]
  editor = nvim
[submodule]
	recurse = false
